### Database creation `planner.db`

In [ ]:
import sqlite3
 
connection_obj = sqlite3.connect('planner.db')
cursor_obj = connection_obj.cursor()
cursor_obj.execute("DROP TABLE IF EXISTS planner")
 
table = """ CREATE TABLE Planner (
            ID INTEGER PRIMARY KEY,
            Original_ID TEXT UNIQUE NOT NULL,
            Talent_ID TEXT,
            Talent_Name TEXT,
            Talent_Grade TEXT,
            Booking_Grade TEXT,
            Operating_Unit TEXT NOT NULL,
            Office_City TEXT,
            Office_Postal_Code TEXT NOT NULL,
            Job_Manager_Name TEXT,
            Job_Manager_ID TEXT,
            Total_Hours REAL NOT NULL,
            Start_Date TEXT NOT NULL,
            End_Date TEXT NOT NULL,
            Client_Name TEXT,
            Client_ID TEXT NOT NULL,
            Industry TEXT,
            Required_Skills TEXT,
            Optional_Skills TEXT,
            Is_Unassigned INTEGER
        ); """
 
cursor_obj.execute(table)
 
print("Table is Ready")
 
connection_obj.close()

### Display of Database description

In [ ]:
import sqlite3
conn = sqlite3.connect('planner.db')
cursor = conn.execute('select * from planner')
cursor.description

### Database updation using `planning.json`

In [ ]:
import sqlite3
import json

conn = sqlite3.connect('planner.db')

cursor = conn.cursor()

f = open('planning.json')

data = json.load(f)

for i in data:

    list1 = list(i.values())
    list1[-1] = json.dumps(list1[-1])
    list1[-2] = json.dumps(list1[-2])

    cursor.execute("""INSERT INTO PLANNER(
           "ID", "Original_ID", "Talent_ID", "Talent_Name", "Talent_Grade", "Booking_Grade", "Operating_Unit", "Office_City", "Office_Postal_Code", "Job_Manager_Name", "Job_Manager_ID", "Total_Hours", "Start_Date", "End_Date", "Client_Name", "Client_ID", "Industry", "Is_Unassigned", "Required_Skills", "Optional_Skills") 
           VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", list1)
    
conn.commit()
print("Record Added")

conn.close()

### Creation of Dashboard

In [ ]:
from flask import Flask, render_template
import sqlite3
import pandas as pd

app = Flask(__name__)
app.template_folder = 'template'

@app.route("/", methods=["GET"])
def test():
    conn = sqlite3.connect("planner.db")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM PLANNER")
    planner = cursor.fetchall()
    df = pd.DataFrame(planner, columns=["ID", "Original ID", "Talent ID", "Talent Name", "Talent Grade", "Booking Grade", "Operating Unit", "Office City", "Office Postal Code", "Job Manager Name", "Job Manager ID", "Total Hours", "Start Date", "End Date", "Client Name", "Client ID", "Industry", "Required Skills", "Optional Skills", "Is Unassigned"])

    return render_template('index.html',
                           users=[df.to_html(classes=['data','table table-striped table-bordered table-sm'], index=False, table_id="dataframe")], 
                           titles=df.columns.values
                           )

if __name__ == "__main__":
    app.run()